/* DM Sans */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "DM Sans", sans-serif;
}


.container{
    width: 1580px;
    max-width: 1580px;
    padding: 0 50px;
    margin: auto;
}




/* header */
.header{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    margin-bottom: 40px;
    background-color: #fff;
}


.header__nav{
    display: flex;
    align-items: center;
    gap: 50px;
}

.header__nav--link{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size:15px ;
    font-weight: 500;
    color: #000;
}

.header__nav--link:hover{
    color: #627cff;
}

.btn{
    padding: 15px 25px;
    border-radius: 50px;
    border: 4px solid #000000;
    background: none;
    font-size: 15px;
    font-weight: 700;
    color: #000000;
}

.btn:active{
    background-color: #627cff;
    color: #fff;
    box-shadow: 0 0 20px #ffffff42;
    border: 4px solid #627cff;
}




/* box */

.box{
    margin-bottom: 100px;
}

.box__text{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 35px;
}

.box__flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box__flex--card{
    text-align: center;
}

.box__flex--card--p{
    margin-top: 15px;
    font-size: 18px;
    font-weight: 500;
}


.login__paragrf{
    display: flex;
    align-items: center;
    gap: 70px;
}

.login__btn{
    padding: 20px 77px;
    border: none;
    border-radius: 60px;
    background-color: #627cff;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
}

.box__pargarf2{
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 35px;
}

.flex2{
    display: flex;
    align-items: center;
    gap: 10px;
}

.flex4{
    width: 155px;
    height: 44px;
    border-radius: 50px;
    background-color: #ffffff2f;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: 8px;

}

.flex2__parargf{
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}

.flex4:hover{
    background-color: #405FF2;
    transform: scale(1.07);
}

/* hero2 */
.hero22{
    width: 100%;
    height: 720px;
    background-color: #F9FBFC;
    display: flex;
    justify-content: space-between;
    padding: 160px 100px ;
}


.hero2__text{
    width: 366px;
    font-size: 40px;
    font-weight: 700;
}

.hero2__flex{
    display: flex;
    align-items: center;
    gap: 25px;
    margin-bottom: 55px;
}

.hero2__flex--text{
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 500;
}

.hero2__flex--text:hover{
    color: #405FF2;
}

.hero2__flex--p{
    width: 400px;
    font-size: 15px;
    font-weight: 400;
    color: #050B20;
}

/* brend */
.brend{
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 70px;
}




.brend__text--text{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brend__text--h3{
    font-size: 40px;
    font-weight: 700;
}

.brend__text--pargarf{
    font-size: 15px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 8px;
}

.brend__card{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brend__cards{
    width: 209px;
    height: 180px;
    border-radius: 16px;
    border: 2px solid #E9E9E9;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}


.brend__cards:hover{
    box-shadow: 0 0 20px #00000021;
    transform: scale(1.02);
}








/* CARD2 */

.cars2{
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 100px;
}


.cars2__flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;
    margin-bottom: 25px;
}


.cars2__flex--text{
    display: flex;
    align-items: center;
    gap: 20px;
}

.brend__text--h3:hover{
    color: #405FF2;
}

.brend__text--h3:hover{
    color: #405FF2;
}


.cars2__flex--text--p:hover{
    color: #405FF2;
}

.cars2__flex--text--p{
    font-size: 16px;
    font-weight: 500;
}

.dd{
    justify-content: center;
}

.card2{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(1,1fr);
    gap: 54px;
    margin-top: 50px;
}

.imgss{
    border-radius: 16px 16px 0 0;
}

.card2--box{
    width: 330px;
    height: 445px;
    background-color: #fff;
    border: 2px solid #E9E9E9;
    border-radius: 16px;
}


.card2--box:hover{
    box-shadow: 0 0 34px #00000021;
    transform: scale(1.04);
}

.paragrf{
    padding: 20px 30px;
}

.paragrf__text{
    font-size: 18px;
    font-weight: 500;
}

.paragrf__p{
    font-size: 14px;
    font-weight: 400;
    margin-top: 8px;
    margin-bottom: 5px;
}

.flex5{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
    margin-bottom: 16px;
}


.f{
    text-align: center;
}

.flex5__paragrf{
    font-size: 14px;
    font-weight: 400;
    color: #050B20;
}


.flex6{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 18px;
}

.flex6__paragrf{
    display: flex;
    align-items: center;
    gap: 8px;
    color: #405FF2;
    font-size: 15px;
    font-weight: 400;
}



/* hero */
.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

.ggg{
    width: 800px;
    height: 600px;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
}


.ggg__text{
    width: 547px;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 25px;
    color: #fff;
}


.ggg__paragrf{
    width: 583px;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 25px;
    color: #fff;
}

.flexx{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.flexx__pargafr{
    font-size: 14px;
    font-weight: 500;
}


.ggg__btn{
    width: 170px;
    height: 60px;
    border: 2px solid #fff;
    background: none;
    border-radius: 12px;
    padding: 20px 25px;
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}



.ggg__btn--paragrf{
    font-size: 15px;
    font-weight: 500;
    color: #fff;
}


.ggg__img{
    width: 20px;
    height: 20px;
}


/* milliyon */
.milliyon{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 240px;
    margin-bottom: 55px;
}


.milliyon__flex{
    text-align: center;
}

.milliyon__h4{
    font-size: 38px;
    font-weight: 700;
}


.milliyon__p{
    margin-top: 5px;
    font-size: 15px;
    font-weight: 400;
    color: #050B20;
}


.choose{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.choose__text{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 80px;
}

.choose__text:hover{
    color: #405FF2;
}

.choose__flex{
    display: flex;
    align-items: center;
    gap: 46px;
}

.choose__h5{
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 18px;
}

.choose__paragrf{
    width: 311px;
    font-size: 14px;
    font-weight: 500;
}



/* Popular */
.Popular{
    width: 100%;
    height: 784px;
    background-color: #050B20;
    padding: 130px 220px;
}

.Popular__flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 45px;
}

.Popular__text{
    font-size: 40px;
    font-weight: 700;
    color: #fff;
}

.Popular__text:hover{
    color: #405FF2;
}

.Popular__paragrf{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
}

.Popular__flex2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.Popular__flex2--flex{
    display: flex;
    align-items: center;
    gap: 20px;
}

.Popular__flex2--li{
    font-size: 16px;
    font-weight: 500;
    color: #fff;
}

.flexs{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.qwert{
    border-radius: 16px 0 0 16px;
}


.flexs__card{
    margin-top: 50px;
    display: flex;
    align-items: center;
    width: 660px;
    height: 273px;
    background-color: #FFFFFF12;
    border-radius: 16px;
}

.flexs__card:hover{
    box-shadow: 0 0 30px #5b5ef560;
    transform: scale(1.02);
}

.flexx__pargafr2{
    padding: 20px 30px;
}


.flexx__pargafr2--text{
    font-size: 18px;
    font-weight: 500;
    color: #fff;
}

.flexx__pargafr2--p{
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 18px;
}

.flexx__pargafr2--p2{
    display: flex;
    align-items: center;
    gap: 10px;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 15px;
}

.flexx__pargafr2--text2{
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}

.flexx__pargafr2--span{
    display: flex;
    align-items: center;
    gap: 10px;
}


.flexss{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.rew{
    margin-right: 25px;
}



/* hero2 */

.hero2{
    width: 100%;
    height: 800px;
    background-color: #F9FBFC;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}


.hero2__texts{
    display: flex;
    align-items: center;
    gap: 470px;
    margin-bottom: 60px;
}

.hero2__texts--h3{
    font-size: 40px;
    font-weight: 700;
}

.hero2__texts--p{
    font-size: 14px;
    font-weight: 400;
}

.hero2__box{
    display: flex;
    align-items: center;
    gap: 160px;
}

.hero2__box--h6{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 8px;
    margin-top: 14px;
}

.hero2__box--p{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 40px;
}

.hero2__box--h3{
    width: 780px;
    font-size: 26px;
    font-weight: 700;
}



/* card3 */
.card3{
    margin-top: 100px;
}

.card3__texts{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.card3__texts--h3{
    font-size: 40px;
    font-weight: 700;
}


.card3__texts--h3:hover{
    color: #405FF2;
}

.card3__texts--p{
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    font-weight: 500;
}

.card3__cards{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
}

.card3__cards--p2{
    font-size: 15px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 12px;
    gap: 16px;
}

.card3__cards--text{
    width: 428px;
    font-size: 20px;
    font-weight: 500;
}

.card3__box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card3__boxs{
    width: 685px;
    height: 393px;
    border-radius: 16px;
    padding: 80px;
    background-color: #E9F2FF;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card3__box--h3{
    width: 233px;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 16px;
}


.card3__box--p{
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 16px;
    color: #050B20;
    width: 355px;
}

.card3__box--btn{
    padding: 19px 26px;
    border: none;
    border-radius: 12px;
    background-color: #405FF2;
    font-size: 15px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #fff;
}

.card3__box--btn2{
    padding: 19px 26px;
    border: none;
    border-radius: 12px;
    background-color: #000;
    font-size: 15px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #fff;
}

.wee{
    width: 685px;
    height: 393px;
    border-radius: 16px;
    padding: 80px;
    background-color:#FFE9F3;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card3__box--btn2:active{
    background-color: #ff98c6;
    transform: scale(1.02);
}

.card3__box--btn:active{
    background-color: #1b41fd;
    transform: scale(1.02);
}


.card3__box--img{
    margin-top: 120px;
}







/* footer */

.footer__input{
    width: 100%;
    height: 200px;
    background-color: #050B20;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 210px;
}

.footer__input--text{
    font-size: 30px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 10px;
}

.footer__input--text2{
    font-size: 15px;
    font-weight: 400;
    color: #fff;
}


.footer__input--input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 542px;
    height: 70px;
    padding: 15px;
    border-radius: 100px;
    background-color: #FFFFFF21;
}

.inputs{
    width:360px;
    height: 25px;
    border: none;
    background: none;
    outline: none;
}

.inputs:focus{
    color: #b6c1fc;
}

.footer__input--input--btn{
    padding: 12px 30px;
    border: none;
    background-color: #405FF2;
    border-radius: 100px;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
}

.footer__input--input--btn:active{
    background-color: #fff;
    color: #405FF2;
    font-weight: 700;
}

.footer__text{
    width: 100%;
    height: 460px;
    background-color: #050B20;
    display: flex;
    justify-content: space-between;
    padding: 70px 210px;
}

.footer__text--ul--boss{
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 20px;
}

.footer__text--ul--li{
    margin-top: 14px;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}

.footer__text--h3{
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 32px;
}

.imgsss{
    margin-bottom: 32px;
    margin-top: 12px;
    display: block;
}

.footer__flex{
    width: 100%;
    height: 100px;
    background-color: #050B20;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 210px;
}

.hr{
    width: 100%;
    height: 1px;
    background-color: #09112e;
}

.footer__flexx{
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    
}